---
title: "Confirm your email address"
preheader: "Please confirm your email address in order to activate your account."
bodyClass: bg-slate-50
---

<x-main>
  <div class="bg-slate-50 rounded-md w-8/12 sm:w-10/12 m-auto sm:px-4 font-sans">
    <table align="center">
      <tr>
        <td>
          <div class="my-12  sm:my-8 text-center">
            <a href="https://xieffect.ru/">
              <img alt="Maizzle" class="w-[300px] h-[39px]" src="images/xieffectlight.webp" width="70">
            </a>
          </div>

          <table class="w-full">
            <tr>
              <td class="p-12 sm:px-6 text-base text-slate-700 bg-white rounded shadow-sm">
                <div class="border-4 border-slate-500">
                  <h1 class="m-0 mb-6  text-4xl sm:leading-8 text-black font-semibold">
                    Добро пожаловать!
                  </h1>

                  <p>
                    Вы успешно создали аккаунт на<b> xi.effect</b>.<br>
                    Пожалуйста, нажмите на кнопку ниже <br>
                    для подтверждения почты
                  </p>
                  <x-spacer height="14px"/>
                  <x-button href="https://github.com/xi-effect">
                    Подтвердить почту
                  </x-button>
                </div>
                <x-spacer height="44px"/>
                <div class="flex justify-center gap-5">
                  <a class="bg-inherit border-none cursor-pointer" href="https://vk.com/xieffect" target="_blank">
                    <img alt="vk" src="images/icons/vk.svg">
                  </a>
                  <a class="bg-inherit border-none cursor-pointer" href="https://t.me/xieffect" target="_blank">
                    <img alt="telegram" src="images/icons/telegram.svg">
                  </a>
                  <a class="bg-inherit border-none cursor-pointer" href="https://xieffect.ru/" target="_blank">
                    <img alt="youtube" src="images/icons/youtube.svg">
                  </a>
                  <a class="bg-inherit border-none cursor-pointer" href="https://xieffect.ru/" target="_blank">
                    <img alt="dzen" src="images/icons/dzen.svg">
                  </a>
                </div>
                <x-spacer height="24px"/>
                <div class="opacity-90 text-center">
                  <a class="text-inherit no-underline" href="https://support@xieffect.ru" target="_blank">support@xieffect.ru</a>
                  <span class="dot">•</span>
                  <a class="text-inherit no-underline" href="https://xieffect.ru" target="_blank">xieffect.ru</a>
                </div>
                <x-spacer height="24px"/>
                <p class="m-0 text-center opacity-70">
                  Вы получили это письмо, потому что зарегистрировались на сайте xieffect.ru.
                  Если вы не регистрировались, пожалуйста, проигнорируйте письмо
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
  <x-spacer height="44px"/>
</x-main>
