<x-spacer height="32px" />
<div class="flex justify-center gap-5">
    <a class="bg-inherit border-none cursor-pointer" href="https://vk.com/xieffect" target="_blank">
        <img alt="vk" src="../images/icons/vk.svg" />
    </a>
    <a class="bg-inherit border-none cursor-pointer" href="https://t.me/xieffect" target="_blank">
        <img alt="telegram" src="../images/icons/telegram.svg" />
    </a>
    <a class="bg-inherit border-none cursor-pointer" href="https://xieffect.ru/" target="_blank">
        <img alt="youtube" src="../images/icons/youtube.svg" />
    </a>
    <a class="bg-inherit border-none cursor-pointer" href="https://xieffect.ru/" target="_blank">
        <img alt="dzen" src="../images/icons/dzen.svg" />
    </a>
</div>
<x-spacer height="32px" class='xs:h-[16px]' />